html,

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

#wrap {
    width: auto;
    background-color: lightblue;
    margin: 0 auto;
}

.soccer {
    width: 30%;
    float: right;
}

header {
    padding: 20px;
    background-color: whitesmoke;
}

header img {
    width: 50%;
    background-color: transparent;
}

nav {
    background-color: darkblue;
    padding: 20px;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    color: lightcoral;
    font-family: Verdana;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 120%
}

nav a: hover {
    color: coral;
}

nav ul {
    padding: 0;
    margin: 0;
}

section {
    padding: 20px;
    overflow: auto;
}

section h1 {
    color: ghostwhite;
    font-size: 180%;
    font-family: Verdana;
}

section h2 {
    color: ghostwhite;
    font-size: 140%;
    font-family: Verdana;
}

footer {
    background-color: blue;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 14px;
    font-family: Verdana;
}

.button {
    background-color: powderblue;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    display: inline;
    margin: 20px 0 0;
    font-size: 20px;
    font-family: Verdana;
    border-radius: 0px;
}

a.button:hover {
    background-color: azure;
}

.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    outline-color: transparent;
}
